@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;400&family=Caveat:wght@400;500;700&family=PT+Serif&family=Playfair+Display:wght@400;600&display=swap');
.bodyColor{
    background: rgb(222, 218, 204);
}
body h1, h4, .nav-link ,p ,.card-title, .btn-group-vertical, figcaption{
    font-family: 'Caveat', cursive;
}
.leftAlign{
    margin-left: 4%;
}
.card{
    margin-top: 5%;
}
.card-body{
    background: rgb(135, 227, 237);
}
#btn1{
    background: rgb(235, 220, 143);
}
#btn2{
    background: rgb(232, 206, 78);
}
#btn3{
    background: rgb(233, 184, 36);
}
#btn4{
    background: rgb(235, 116, 76);
}
#btn5{
    background: rgb(242, 65, 6);
}
#pic1, #pic2{
    height:150px;
    width:200px;
    margin-top: 10%;
}
#pic3, #pic4{
    height:150px;
    width:250px;
    margin-top: 10%;
}
.title2{
    margin-top: 2%;
}




